*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',Arial,Helvetica,sans-serif;
}

body{
    background:transparent;
    overflow:hidden;
}

#scoreboard{
    position:absolute;
    top:40px;
    left:50%;
    transform:translateX(-50%);

    width:900px;
    height:95px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;

    background:linear-gradient(180deg,#242424,#101010);
    border:3px solid #22c55e;
    border-radius:18px;

    color:white;

    box-shadow:0 12px 35px rgba(0,0,0,.6);
}

#matchTitle{
    position:absolute;
    top:-28px;
    left:50%;
    transform:translateX(-50%);

    background:linear-gradient(90deg,#16a34a,#22c55e);

    color:white;

    padding:10px 30px;

    border-radius:999px;

    font-size:18px;
    font-weight:800;

    letter-spacing:2px
